.feeds {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feeds__create__story {
  margin-right: 1px;
}

.feeds__create__story__img {
  width: 130px;
  height: 210px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  /* left: 20px; */
}

.feeds__create__story__img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.feeds__create__story__icon_container {
  cursor: pointer;
  background-color: var(--lightgraybg);
  position: absolute;
  top: 230px;
  width: 130px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 5px;
  /* left: 367px; */
}

.feeds__create__story__icon_container .MuiSvgIcon-root {
  color: var(--fbcolor);
  outline: var(--lightgraybg) 5px solid;
  border-radius: 50%;
  font-size: 25px;
}

.feeds__create__story__icon_container__text h4 {
  color: white;
}

.feeds__mind {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.feeds__mind__post {
  background-color: var(--navbg);
  padding: 20px 10px;
  border-radius: 5px;
}

.feeds__mind__post__top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightgraybg);
  padding-bottom: 10px;
}

.feeds__mind__post__top__pic img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.feeds__mind__post__top input {
  background-color: var(--lightgraybg);
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding: 0px 10px;
  color: white;
}

.feeds__mind__post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.feeds__mind__post__bottom__video img,
.feeds__mind__post__bottom__gallery img,
.feeds__mind__post__bottom__emoji img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.feeds__mind__post__bottom__video,
.feeds__mind__post__bottom__gallery,
.feeds__mind__post__bottom__emoji {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feeds__mind__post__bottom span {
  color: white;
}

.feeds__room {
  display: flex;
}
