* {
  margin: 0px;
  padding: 0px;
}

body {
  --fbcolor: #4267b2;
  --lightgray: rgb(194, 194, 194);
  --lightgraybg: rgb(53, 53, 53);
  --bgcolor: #000;
  --navbg: rgb(37, 37, 37);
  --navbghover: rgb(59, 59, 59);
  background-color: var(--bgcolor);
}

.app__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sidebar {
  flex: 0.2;
}

.feed {
  background-color: #42b27e;
  flex: 0.5;
}

.widget {
  background-color: #87b242;
  flex: 0.2;
}
