.room {
  position: relative;
}

.room__user__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}

.room span {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
  right: 1px;
  top: 25px;
}
